{
  "files.associations": {
    "*.css": "postcss"
  },
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-name-case": "lower",
    "at-rule-name-space-after": "always-single-line",
    "at-rule-no-unknown": [
      true,
      {
        ignoreAtRules: ["custom-media"] 
      }
    ],
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "color-hex-case": "lower",
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never",
    "function-name-case": "lower",
    "indentation": 2,
    "max-empty-lines": 2,
    "media-feature-name-no-unknown": true,
    "media-feature-name-case": "lower",
    "no-unknown-animations": true,
    "property-case": "lower",
    "property-no-unknown": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-no-unknown": true,
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-case": "lower",
    "selector-type-no-unknown": [
      true,
      {
        ignore: ["custom-elements", "default-namespace"]
      }
    ],
    "selector-type-case": "lower",
    "unit-case": "lower",
    "unit-whitelist": ["em", "rem", "px", "%", "deg", "s", "ms"],
    "value-keyword-case": "lower"
  }
}